# Binaries
/app
*.exe
*.out
*.dll
*.so

# Build artifacts
/build/
bin/
dist/

# Vendor directory (optional, if you are not using vendoring)
vendor/

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs
*.log
*.log.*

# Environment variables
.env

# Dependency files
go.sum

/serviceAccountKey.json